{% extends "base.html" %}
<meta http-equiv="refresh" content="1; url={{ url_for('clockin') }}">
{% block content%}
<p>
    {% set timestring = datetime.now(tz).strftime("Hora: %H:%M:%S") %}

        {{ datetime.now(tz).strftime("%d-%m-%Y") }}
        <label id="clock"> {{ timestring }} </label>

</p>

<form method="POST">
    {% if current_user.clockout %}
        <input type="submit" class="btn btn-primary" value="Iniciar Trabalho" onclick="url_for('clockin')">
    {% else %}
        <input type="submit" class="btn btn-danger" value="Terminar Trabalho" onclick="url_for('clockin')">
    {% endif %}
</form>

<script>
document.addEventListener("DOMContentLoaded", function(event) {

realTime();

});


function realTime() {

setTimeout(realTime, 1000);

update();
}

function update(){
    var newtime = new Date().toLocaleTimeString();
    document.getElementById("clock").innerText = newtime;
}
    </script>

{% endblock %}