{% extends 'base.html' %}
{% block content %}
{% if current_user.role == 'superadmin' %}
<center>
    <div class="row">
        <div class="col-xl-6">
            <form method="post">
                <label>Escolha uma Tabela</label><br>
                    <div class="col-xl-6 mb-3">
                        <select name="tabelas" id="tabelas" onchange="mostracolunas(this.value)">
                            <option name="none" value="none">Selecione uma tabela</option>
                            {% for nametabela in tabelas %}
                                <option name="{{ nametabela[0] }}" value="{{ nametabela[0] }}"> {{ nametabela[0] }} </option>
                            {% endfor %}
                        </select>
                    </div>
            </form>
        <div class="col-l-5">
            <table>
                <thead>
                    <tr>
                        <td id="titulo_da_tabela">

                        </td>
                    </tr>
                </thead>
            </table>
            <table>
                <tbody id="tabela_dados">
                </tbody>
            </table>
        </div>
    </div>
    </div>
</center>
        <!--input type="button" class="alert alert-info" onclick="colunas.hidden=false" value="Mostrar Colunas"--><br>
{% endif %}
<script>
async function mostracolunas(tabela){
    req = new Request(`edit?tabela=${tabela}`, {"method":"post"});
    var tabela_dados = document.querySelector("#tabela_dados");
    var titulo = document.querySelector("#titulo_da_tabela");
    while(tabela_dados.firstChild){
        tabela_dados.firstChild.remove()
    };
    while(titulo.firstChild){
        titulo.firstChild.remove()
    };
    titulo.innerHTML = tabela

    const response = await fetch(req);
    const resultado = await response.json();
    for (let e of resultado){
        ntr = document.createElement('tr');
        for (let i of e){
            ntd = document.createElement('td');
            ntd.innerHTML = i;
            ntd.setAttribute("class", "p-4")
            ntr.appendChild(ntd)
            };
        tabela_dados.appendChild(ntr)
    };
    };

</script>
{% endblock %}