{% extends "base.html" %}

{% block content%}
    <style>
        table, th, tr, td {
        border: 1px solid black;
        }
        body{
        width:0px;
        padding-right: 3vh;
        }
        form{
        width:45vh;
        }

</style>
<form method="post">
    <div align="center">
        <label class="mb-4 mt-5" for="outrodia"> Enviar formulário para outro dia</label>
        <input class="mt-5" type="checkbox" id="outrodia" onclick="var inone = document.querySelector('#dateselector');
            if(this.checked){inone.hidden=false}else{inone.hidden=true}">
    </div>
    <div class="mb-5" id="dateselector" hidden="true">
        <p>
            <label for="datetimeinsert">Selectione o dia</label><br>
            <input type="datetime-local" name="datetime" id="datetimeinsert">
        </p>
    </div>
    <table class="mt-4" id="formulariofreq" name='presencadogs'
           style="width:100%; margin-top:40px;">
        <tr>
            <td>Nome</td>
            <td>Presente</td>
        </tr>
        {% for dog in dogs %}
        <tr style="width:85vh">
            <td align="center" style="width:75%">
                    <label>{{ dog[2]+' ('+dog[3]+')' }}</label>
            </td>
            <td align="center" class="pt-4 pb-4"><input type="checkbox" name={{ dog[2] }} value={{ dog[-1] }}></td>
        </tr>
        {% endfor %}
        <tr>
            <td align="center">
                <input id="extradog" type="text" align="center">
            </td>
            <td align="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="lightblue" class="bi bi-plus" viewBox="0 0 16 16"
                    onclick="logar_extra_dog()">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </td>
        </tr>
    </table>
    <div class="mt-5 mb-2" width="80%" align="center">
        <input type="radio" id="hotel" name="crechehotel" value="hotel">
        <label for="hotel">Hotel</label><br>
        <input type="radio" id="creche" name="crechehotel" value="creche" checked>
        <label for="creche">Creche</label><br>
        <input type="radio" id="Daycare" name="daycare" value="daycare">
        <label for="Daycare">Day Care</label><br>
    </div>
        <button type="submit" class='btn btn-info mb-5' style="margin-top:10vh; width:85%; height:15vh; font-size:5rem">Enviar</button>
</form>
<script>
function logar_extra_dog(){
    var dogextra = document.querySelector('#extradog');
    var dogname = dogextra.value;
    var paragrafo = document.createElement('p');
    var newcheck = document.createElement('input');
    newcheck.setAttribute("type","checkbox");
    newcheck.checked = true;
    newcheck.name = dogname
    newcheck.value = dogname
    newcheck.id = dogname
    paragrafo.innerText = dogname;
    var tabela = document.querySelector("#formulariofreq > tbody");
    var row = tabela.insertRow(tabela.childElementCount-1);
    var cell1 = row.insertCell(0)
    var cell2 = row.insertCell(1)
    cell1.setAttribute("align", "center")
    cell2.setAttribute("align", "center")
    cell1.appendChild(paragrafo);
    cell2.appendChild(newcheck);

}

</script>
{% endblock %}
