{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<p>
    <img src="{{ 'static/images/1036104_cat-paw-print-images-wallpapers-hd-fine_1466x1500_h.webp' }}" alt="paws" width="150px" height="150px">
</p>

<i class='fas fa-paw' style='font-size:48px;color:red'></i>
<center>
    <div class="text-center col-l-9" style="width:50%">
        <form method="post">
            {% for tag in form %}
            {% if tag == form.submit %}
                {% set classbtn = 'btn btn-info '%}
            {% endif %}
                {% if tag != form.csrf_token %}
                    <div class="mt-3 {{ classbtn }}">
                        {{ wtf.form_field(tag) }}
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
</center>
{% endblock %}