{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<center>
    <form method="post" class="mt-5" style="width:30%">
        {{ form.hidden_tag() }}
            {% for tag in form %}
                {% if tag != form.csrf_token %}
                    {% if tag == form.submit %}
                         {{ wtf.form_field(tag, class='btn btn-info mt-5') }}
                    {% else %}
                        <div class="row mt-3">
                            {{ wtf.form_field(tag) }}
                        </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
    </form>
</center>

{% endblock %}